################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.tmp
/deploy/docker/*
!/deploy/docker/deploy.sh
/src/admin/.github
/src/admin/.vscode
/src/api/.vs/AgentSprint.slnx
/src/api/AgentSprint.Domain/bin
/src/api/AgentSprint.Domain/obj
/src/api/AgentSprint.Entry/bin
/src/api/AgentSprint.Entry/obj
/src/api/AgentSprint.Mcp/bin
/src/api/AgentSprint.Mcp/obj
/src/api/AgentSprint.Model/bin
/src/api/AgentSprint.Model/obj
/src/api/AgentSprint.Repository/bin
/src/api/AgentSprint.Repository/obj
/src/api/AgentSprint.Service/bin
/src/api/AgentSprint.Service/obj
/src/api/AgentSprint.Tests/bin/Debug/net10.0
/src/api/AgentSprint.Tests/obj
*.tgz
/agentsprint-docker-deploy*.tar
/agentsprint-docker-deploy*.tar.zip
*.log
*.pid
*.prev
/lefthook.yml
/docs/node_modules
/docs/.vuepress/.cache
/docs/.vuepress/.temp
/docs/.vuepress/dist
